<div class="todos">
  <form action="#">
    <input
      type="text"
      name="inputTodo"
      placeholder="What needs to be done?"
      class="todo-input"
      [(ngModel)]="inputTodo"
      (keyup.enter)="addTodo()"
    />
  </form>

  <div class="todo" *ngFor="let todo of todos; let i = index">
    <input type="checkbox" (click)="toggleCheckbox(i)" class="checkbox" />
    <div class="content">{{ todo.content }}</div>
    <div class="delete-todo" (click)="deleteTodoitem(i)">&times;</div>
  </div>

  <p class="numberOfItem">X items left to do</p>
</div>
