/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
.container {
  max-width: 690px;
  margin: 0 auto;
}

body {
  font-family: "Avenir", Arial, Helvertica, sans-serif;
  font-size: 24px;
}
