/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir", Arial, Helvertica, sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 17px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
